body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    width: 100%;
    height: auto;
    
}


.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color:#35424A;
    border-bottom: 3px solid rgb(169,80,139);
    color: white;
} 

.left span {
    font-size: 30px;
    font-weight: 600;
}
.right  {
    width: 50vh;

}

.navbar ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

.navbar ul li {
    display: flex;
    text-transform: uppercase;
    font-weight: 550;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
}

.home:hover {
    color: white !important;
    font-size: 15px;
}

.about:hover {
    font-size: 17px;
}

.services:hover {
    font-size: 15px;
}

#changecolor{
    color: rgb(169,80,139) ;
}

.navbar ul li .about {
    color:rgb(169,80,139);
}


.subscribe {
    display: flex;
    width: 100%;
    height: 11vh;
    justify-content: space-around;
    align-items: center;
    background-color: #35424A;

}
.subscribe h2 {
    color: white;
}

.subscribe input {
    height: 30px;
    width: 250px;
}

.subscribe button {
    height: 36px;
    width: 100px;
    background-color: rgb(169,80,139) ;
    color: white;
    border: none;
}

section {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color:  #F4F4F4;
    width: 100%;
    height: 78vh;

}

.aboutus {
    width: 60%;
    padding: 0 30px;
    line-height:1.5;
}

.aboutus .dark {
    background-color: #35424A ;
    color: white;
    padding: 10px;
}

.whatwedo {
    width: 30%;
    background-color: #35424A ;
    color: white;
    margin-top: 30px;
    padding: 30px;
}


footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15vh;
    background-color: rgb(255,250,240) ;
    border-top: 3px solid  rgb(169,80,139);
 
}
footer img {
    min-width: 12%;
    cursor: pointer;
   
}

footer img:hover {
    width: 24vh;
}


footer p {
    margin: 0;
    padding: 20px;
    font-size: 15px;
}

@media only screen and (max-width:768px){
    .navbar {
        flex-wrap: wrap;
       
    }
    .subscribe {
        flex-wrap: wrap;
      
    }
   

    .subscribe {
        height: 22vh;
    }
    
    section {
        flex-wrap: wrap;
        font-size: 0.8em;
        height: 82vh;
    
    
    }

    .aboutus {
        width: 100%;
    }
    .whatwedo {
       width: 100%;
        margin: 0 20px;
        padding: 10px;
    }

    footer p{
        font-size: 12px;
    }
}